
body {
    font-family: Arial,  sans-serif; 
    font-size: 20px; 
    background-color: #0cb57f; 
    text-decoration-color: chocolate 
}
h1 {
    color: rgb(20, 19, 12); 
    font-size: 50px; 
    font-family: Georgia, serif, ; 
    background-color:rgb(235, 67, 67)

}
h2 {
    color:rgb(5, 5, 5);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(227, 74, 63)
}
li {
    color:rgb(13, 13, 13);
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    background-color: rgb(211, 79, 237)
}
