head {
    color:whitesmoke;

    }

body {
    font-family: bold, Helvetica, sans-serif; 
    text-decoration: inherit;
    font-size: 20px; 
    background-color: #000000; 
}
    @keyframes color-change {
        0% {
          color: rgb(255, 199, 79);
        }
      
        50% {
          color: rgb(0, 255, 55);
        }
      
        70% {
          color: rgb(255, 0, 179);
        }
        100% {
          color:rgb(157, 6, 238)
        }
    }
    h1 {
        animation: color-change 2s infinite;
        text-decoration: bold;
        font-size: 40px; 
        font-family: Georgia, serif, ;
    } 

    @keyframes color-change {
        0% {
          color: rgb(255, 199, 79);
        }
      
        50% {
          color: rgb(0, 255, 55);
        }
      
        70% {
          color: rgb(255, 0, 179);
        }
        100% {
          color:rgb(157, 6, 238)
        }
    }
    h2 {
        animation: color-change 2s infinite;
        text-decoration: bold;
        font-size: 30px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border:rgb(132, 35, 222);
    }
li {
    color:#07289e;
    text-decoration: bold;
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    background-color: #8de0f8;
}
p {
   color:#6181f2;
   font-size:20px;
   text-decoration: bold;
   font-family: Georgia, 'Times New Roman', Times, serif;
   border:#ca0ef0;
}
br {
    color:#ca0ef0;
}
